header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  a {
    text-decoration: none;
    color: $clr-neutral-100;
  }
}

.signature,
.navigation {
  padding: 0 1rem;
}

.signature {
  font-size: 2rem;
  color: $clr-neutral-300;

  @media (min-width: 56rem) {
    font-size: 2.8rem;
  }
}

.navigation {
  display: flex;
}

.nav-links {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 0.4rem;
  a {
    font-size: 1.2rem;

    @media (min-width: 46rem) {
      font-size: 1.6rem;
    }

    @media (min-width: 56rem) {
      font-size: 2rem;
    }
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: $clr-neutral-100;

    transition: width 0.3s ease-in-out;
  }

  &:hover::before {
    width: 100%;
  }

  &:first-child {
    margin-right: 1rem;
  }
}
