.container {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  line-height: 1.6;
  margin: 1rem;
  padding: 0 1rem;
  @media (min-width: 36rem) {
    font-size: 4rem;
  }

  @media (min-width: 46rem) {
    font-size: 5rem;
  }

  @media (min-width: 56rem) {
    font-size: 6rem;
  }
}

.main-text {
  p {
    &:nth-child(1) {
      span {
        &:nth-child(1) {
          color: $clr-accent-1;
        }
        &:nth-child(2) {
          color: $clr-accent-2;
        }
        &:nth-child(3),
        &:nth-child(4) {
          color: $clr-accent-3;
        }
      }
    }
  }
}

.day-text {
  span {
    color: $clr-accent-1;
  }
}
