.container {
  @media (min-width: 36em) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.main-text {
  p {
    &:nth-child(1) {
      span {
        &:nth-child(1) {
          color: $clr-accent-1;
        }
        &:nth-child(2) {
          color: $clr-accent-2;
        }
        &:nth-child(3),
        &:nth-child(4) {
          color: $clr-accent-3;
        }
      }
    }
  }
}

.day-text {
  font-size: 2.4rem;
  margin: 2rem 0;
  span {
    color: $clr-accent-1;
  }

  @media (min-width: 36em) {
    font-size: 4rem;
  }

  @media (min-width: 66em) {
    font-size: 5rem;
  }

  @media (min-width: 86rem) {
    font-size: 6rem;
  }
}
