h2 {
  color: $clr-accent-3;
  text-decoration: underline;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, minmax(20rem, 1fr));
  place-items: center;
  gap: 2rem;
  margin: 2rem 0;
  @media (min-width: 56em) {
    grid-template-columns: repeat(2, minmax(36rem, 1fr));
  }
}

.card {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  height: 100%;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $clr-primary-700, $alpha: 0);
    transition: background-color 150ms linear;
  }
  &:hover::before {
    background-color: rgba($color: $clr-primary-700, $alpha: 0.8);
  }

  img {
    border-radius: 1rem;
  }
}

.card-pop {
  display: none;
  position: absolute;
  min-width: 100%;
  min-height: 100%;

  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;

  @media (min-width: 56em) {
    padding: 4rem;
  }

  @media (min-width: 76em) {
    justify-content: space-between;
  }
}

.card-pop-text {
  h3 {
    font-size: 2.2rem;
    margin: 0 1rem;
    text-decoration: underline;
  }

  p {
    font-size: 1.2rem;
    min-width: 30ch;
    text-align: left;
    margin: 0 1rem;
    font-weight: 300;
  }

  @media (min-width: 36em) {
    h3 {
      font-size: 3.6rem;
    }

    p {
      font-size: 1.6rem;
    }
  }

  @media (min-width: 56em) {
    h3 {
      font-size: 2.8rem;
    }

    p {
      font-size: 1.6rem;
    }
  }

  @media (min-width: 76em) {
    h3 {
      font-size: 4rem;
    }

    p {
      font-size: 2.4rem;
    }
  }

  @media (min-width: 96em) {
    h3 {
      font-size: 4.6rem;
    }

    p {
      font-size: 2.8rem;
    }
  }
}

.card-pop-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}

.code-links {
  a {
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
    color: $clr-neutral-300;
    text-align: left;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0%;
      height: 1px;
      background-color: $clr-neutral-100;

      transition: width 0.3s ease-in-out;
    }

    &:hover::before {
      width: 100%;
    }

    &:first-child {
      margin-right: 1rem;
    }

    @media (min-width: 36em) {
      font-size: 1.4rem;
    }

    @media (min-width: 56em) {
      font-size: 1.6rem;
    }

    @media (min-width: 76em) {
      font-size: 1.8rem;
    }

    @media (min-width: 96em) {
      font-size: 2.6rem;
    }
  }
}

.tech-stack {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
  i {
    font-size: 3rem;

    @media (min-width: 36em) {
      font-size: 4rem;
    }

    @media (min-width: 76em) {
      font-size: 5rem;
    }

    @media (min-width: 96em) {
      font-size: 6rem;
    }
  }
  .fa-html5 {
    color: hsl(0, 82%, 62%);
  }
  .fa-css3-alt {
    color: hsl(212, 72%, 53%);
  }
  .fa-js {
    color: hsl(60, 100%, 57%);
  }
}

.card-pop-display {
  display: flex;
}
