.container {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  line-height: 1.6;
  margin: 1rem;
  padding: 0 1rem;
  @media (min-width: 36em) {
    font-size: 4rem;
  }

  @media (min-width: 66em) {
    font-size: 5rem;
  }

  @media (min-width: 86rem) {
    font-size: 6rem;
  }
}
