<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h2>Home</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius voluptatem
      vitae aliquam perspiciatis non consequuntur cum, quas, dignissimos
      accusamus labore culpa voluptate tenetur est ex deleniti fuga obcaecati
      earum exercitationem! A sequi aperiam quos iusto maiores eius fugiat. Ad,
      aliquid nesciunt ipsum at doloremque alias necessitatibus vitae saepe esse
      sapiente.
    </p>
  </body>
</html>
