<section id="home" class="container">
  <div class="main-text">
    <p>
      Hello there! I am <span>Rohit Regimon</span> and I am a
      <span>Front-end developer</span> based in India. My goal is to develop
      <span>beautiful</span> and <span>user friendly</span> websites.
    </p>
  </div>
  <div class="day-text">
    <p>Have a great <span>Sunday</span>!</p>
  </div>
</section>
