#boy-head {
  animation: boy-head 1s infinite ease-in-out alternate;
  transform-origin: bottom center;
  transform-box: fill-box;
  @keyframes boy-head {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(-20deg);
    }
  }
}

#outer-box1 {
  animation: outer-box1 2s infinite linear;
  transform-origin: center;
  transform-box: fill-box;

  @keyframes outer-box1 {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }
}

#outer-box2,
#outer-box3 {
  animation: outer-box23 2s infinite linear;
  transform-origin: center;
  transform-box: fill-box;

  @keyframes outer-box23 {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(-360deg);
    }
  }
}

#inner-text {
  animation: inner-text 1s infinite ease-in-out alternate;
  transform-origin: center;
  transform-box: fill-box;

  @keyframes inner-text {
    from {
      transform: rotateZ(-10deg);
    }
    to {
      transform: rotateZ(10deg);
    }
  }
}

#inner-circle {
  animation: inner-circle 4s infinite linear;
  transform-origin: center;
  transform-box: fill-box;

  @keyframes inner-circle {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }
}

#inner-box {
  animation: inner-box 1s infinite linear alternate;
  transform-origin: center;
  transform-box: fill-box;

  @keyframes inner-box {
    from {
      transform: translateX(-10px);
    }
    to {
      transform: translateX(10px);
    }
  }
}
