section#projects {
  display: grid;
  place-items: center;
  height: 100vh;

  #project-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: color(primary);

    -webkit-clip-path: polygon(100% 20%, 100% 40%, 0 90%, 0 70%);
    clip-path: polygon(100% 10%, 100% 30%, 0 90%, 0 70%);
    z-index: -1;

    .circleclip {
      background-color: color(project-poly);
      width: 100%;
      height: 100%;
      animation: circleclip 1.5s ease-in-out;

      @keyframes circleclip {
        from {
          clip-path: circle(55% at -100% 150%);
        }
        to {
          clip-path: circle(75%);
        }
      }
    }

    @include desktop {
      clip-path: polygon(65% 0, 100% 0, 100% 10%, 35% 100%, 0 100%, 0 90%);
    }
  }

  .project-container {
    display: grid;
    gap: 1em;
    margin: 0 1em;

    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 250px;
      height: 250px;
      padding: 1em;
      background-color: fontcolor(project-card);
      box-shadow: 10px 10px 30px 2px rgba($color: #000000, $alpha: 0.5);

      animation: card 1.5s ease;

      .cardclip {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        position: absolute;
        background-color: color(project-poly);
        width: 100%;
        height: 100%;
        clip-path: circle(0%);
        transition: clip-path 0.5s linear;
        left: 0;

        p {
          font-size: 14px;
          color: fontcolor(paragraph);
          padding: 1em;
          text-align: justify;
        }
      }

      h1 {
        text-align: center;
        font-size: 30px;
      }

      a {
        text-decoration: none;
        padding: 10px 15px;
        align-self: center;
        border: 1px solid fontcolor(project-card);
        color: fontcolor(paragraph);
        font-size: 14px;
        transition: 0.5s;

        &:hover {
          color: white;
          background-color: fontcolor(project-card);
        }
      }

      &:hover .cardclip {
        clip-path: circle(75%);
      }

      @keyframes card {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }

      @include desktop {
        width: 340px;
        height: 340px;

        .cardclip {
          p {
            font-size: 20px;
          }
        }

        h1 {
          font-size: 40px;
        }

        a {
          font-size: 20px;
        }
      }
    }
  }
}
