$colors: (
  primary: #111111,
  home-poly: #002252,
  about-poly: #703c00,
  project-poly: #570000,
  contact-poly: #145700
);

$font-colors: (
  home-span: #407dd8,
  about-span: #ff8a00,
  paragraph: lighten(black, 70%),
  project-card: #aa1e1e,
  contact-email: rgb(0, 184, 0)
);

@function color($color-name) {
  @return map-get($map: $colors, $key: $color-name);
}

@function fontcolor($fontcolor-name) {
  @return map-get($map: $font-colors, $key: $fontcolor-name);
}

// ************ Responsive ************

$desktop: 900px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
