@import './variables';
@import './nav';
@import './home';
@import './about';
@import './projects';
@import './contact';

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Kali';
  src: url('../fonts/KallimataScript.ttf');
}

@font-face {
  font-family: 'CedarCursive';
  src: url('../fonts/CedarvilleCursive-Regular.ttf');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 1s;
}

body {
  background-color: color(primary);
  font-family: 'Poppins';
  color: white;
  overflow-x: hidden;
}
