$colors: (
  primary: #252525,
  home-poly: #001738,
  about-poly: #502d04,
  project-poly: #265a19
);

$font-colors: (
  home-span: #407dd8,
  about-span: #ff8a00,
  paragraph: lighten(black, 60%)
);

@function color($color-name) {
  @return map-get($map: $colors, $key: $color-name);
}

@function fontcolor($fontcolor-name) {
  @return map-get($map: $font-colors, $key: $fontcolor-name);
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: color(primary);
  font-family: 'Poppins';
  color: white;
}

nav {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10vh;
    margin: auto;
    .logo {
      h1 {
        color: white;
      }
    }

    .menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      width: 30px;
      height: 20px;
      .bar {
        height: 3px;
        width: 100%;
        background: white;
        border-radius: 10px;
      }
    }
  }
}

section#home {
  display: grid;
  place-items: center;
  height: 90vh;

  #home-bg1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: color(home-poly);

    -webkit-clip-path: polygon(100% 30%, 100% 40%, 0 50%, 0 40%);
    clip-path: polygon(100% 30%, 100% 44%, 0 54%, 0 40%);
    z-index: -1;
    animation: home-bg1 1s ease;

    @keyframes home-bg1 {
      from {
        transform: translateY(15%) translateX(-150%);
      }
      to {
        transform: translateY(0%) translateX(0);
      }
    }
  }

  #home-bg2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: color(home-poly);
    -webkit-clip-path: polygon(100% 30%, 100% 40%, 0 50%, 0 40%);
    clip-path: polygon(100% 44%, 100% 60%, 0 70%, 0 54%);
    z-index: -1;
    animation: home-bg2 1s ease;

    @keyframes home-bg2 {
      from {
        transform: translateY(-15%) translateX(150%);
      }
      to {
        transform: translateY(0%) translateX(0);
      }
    }
  }

  .home-container {
    text-align: center;
    h1 {
      font-size: 40px;
      animation: home-h1 1s ease;
    }
    h2 {
      font-size: 30px;
      animation: home-h2 1s ease;
      color: fontcolor(paragraph);
      span {
        color: fontcolor(home-span);
      }
    }
    @keyframes home-h1 {
      from {
        opacity: 0;
        transform: translateY(-150%);
      }

      to {
        opacity: 1;
        transform: translateY(0%);
      }
    }

    @keyframes home-h2 {
      from {
        opacity: 0;
        transform: translateY(150%);
      }

      to {
        opacity: 1;
        transform: translateY(0%);
      }
    }
  }
}

section#about {
  display: grid;
  place-items: center;
  height: 100vh;

  #about-bg1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: color(about-poly);

    -webkit-clip-path: polygon(100% 32%, 100% 52%, 0 52%, 0 32%);
    clip-path: polygon(100% 32%, 100% 52%, 0 52%, 0 32%);

    z-index: -1;

    animation: about-bg1 1s ease;

    @keyframes about-bg1 {
      from {
        transform: translateX(150%);
      }
      to {
        transform: translateX(0%);
      }
    }
  }

  #about-bg2 {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: color(about-poly);

    -webkit-clip-path: polygon(100% 52%, 100% 72%, 0 72%, 0 52%);
    clip-path: polygon(100% 52%, 100% 72%, 0 72%, 0 52%);

    z-index: -1;
    animation: about-bg2 1s ease;

    @keyframes about-bg2 {
      from {
        transform: translateX(-150%);
      }
      to {
        transform: translateX(0%);
      }
    }
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1em;

    h1 {
      font-size: 30px;
      animation: text-left 1s ease;
      span {
        color: fontcolor(about-span);
        font-size: 50px;
      }
    }

    p {
      font-size: 16px;
      text-align: justify;
      color: fontcolor(paragraph);
      animation: text-right 1s ease;
    }

    @keyframes text-left {
      from {
        opacity: 0;
        transform: translateX(-150%);
      }
      to {
        opacity: 1;
        transform: translateX(0%);
      }
    }

    @keyframes text-right {
      from {
        opacity: 0;
        transform: translateX(150%);
      }
      to {
        opacity: 1;
        transform: translateX(0%);
      }
    }
  }
}

section#projects {
  display: grid;
  place-items: center;
  height: 100vh;

  #project-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: color(primary);

    -webkit-clip-path: polygon(100% 20%, 100% 40%, 0 90%, 0 70%);
    clip-path: polygon(100% 10%, 100% 30%, 0 90%, 0 70%);
    z-index: -1;

    .circleclip {
      background-color: color(project-poly);
      width: 100%;
      height: 100%;
      animation: circleclip 1.5s ease-in-out;

      @keyframes circleclip {
        from {
          clip-path: circle(25% at -100% 100%);
        }
        to {
          clip-path: circle(75%);
        }
      }
    }
  }

  .project-container {
    display: grid;
    gap: 1em;
    margin: 0 1em;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;

      padding: 1em;
      background-color: lighten(color(primary), 5%);
      box-shadow: 10px 10px 30px 2px rgba($color: #000000, $alpha: 0.5);

      animation: card 1.5s ease;

      h1 {
        font-size: 25px;
      }

      p {
        font-size: 14px;
        color: fontcolor(paragraph);
        padding: 2em 0;
        text-align: justify;
      }

      a {
        text-decoration: none;
        padding: 10px 15px;
        align-self: center;
        border: 1px solid rgb(0, 189, 0);
        color: rgb(0, 189, 0);
        font-size: 14px;
        transition: 0.5s;

        &:hover {
          color: white;
          background-color: rgb(0, 189, 0);
        }
      }

      @keyframes card {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }
    }
  }
}
