@font-face {
  font-family: PoppinsLight;
  src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: PoppinsRegular;
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: CedarvilleCursive;
  src: url("../fonts/CedarvilleCursive-Regular.ttf");
}

@font-face {
  font-family: Kalimata;
  src: url("../fonts/KallimataScript.ttf");
}

$primaryclr: rgb(24, 24, 24);
$navfontclr: rgb(128, 128, 128);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: PoppinsLight;
  background: $primaryclr;
  color: white;

  width: 100%;
  height: 100%;
  margin: auto;
}

header {
  position: sticky;
  top: 0;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;

    .logo {
      img {
        width: 200px;
        height: 200px;
      }
    }

    .nav-list {
      display: flex;
      list-style: none;

      .nav-links {
        margin: 2em;
        text-decoration: none;
        color: $navfontclr;
      }

      .nav-links:hover {
        color: rgb(255, 255, 255);
      }
    }

    .toggle-button {
      position: absolute;
      top: 1.75em;
      right: 1rem;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 20px;

      .bar {
        height: 3px;
        width: 100%;
        background-color: $navfontclr;
        border-radius: 10px;
      }
    }
  }
}

.home-container {
  display: grid;
  width: 90%;
  min-height: 90vh;
  height: 90vh;
  margin: auto;
  place-items: center;

  // background-color: lightcoral;

  .home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    h1 {
      font-size: 60px;
    }

    h2 {
      font-size: 50px;
      color: $navfontclr;
    }
  }

  .typing {
    position: relative;
    color: rgb(0, 157, 255);
    font-family: CedarvilleCursive;
    font-size: 50px;
    font-style: italic;
  }

  .typing::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 60%;
    top: 20%;
    right: -8px;
    border-right: 2px solid white;
    animation: blink 0.75s infinite ease;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

.about-container {
  width: 90%;
  min-height: 100vh;
  height: 100vh;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  // background: lightblue;

  .about-text {
    width: 50%;
    margin: 2em;

    display: flex;
    flex-direction: column;

    h1 {
      font-size: 50px;

      span {
        display: inline-block;
        color: #ff7b3e;
        font-family: CedarvilleCursive;
        margin: 0 20px 0 0;
        font-size: 80px;
        font-style: italic;
        transition: 0.75s;
      }
    }

    p {
      text-align: justify;
      font-size: 20px;
      color: rgb(170, 170, 170);
      line-height: 2em;

      span {
        color: rgb(211, 211, 211);
        font-family: CedarvilleCursive;
        font-size: 40px;
        font-style: italic;
      }
    }
  }

  .about-img {
    width: 40%;
    height: 40%;
    margin: 2em;
  }
}

.project-container {
  width: 90%;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  // background-color: lightyellow;

  .card-container {
    width: 320px;
    height: 420px;
    perspective: 1000px;
    cursor: pointer;
    margin: 1em;

    .card {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;

      .front,
      .back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 1em;

        background: rgb(43, 43, 43);
        z-index: 10;
      }

      .front {
        .front-title {
          width: 100%;
          height: 100%;
          display: grid;
          place-items: center;

          h1 {
            font-size: 40px;
            color: rgb(238, 238, 238);
          }
        }

        .lang-used {
          width: 100%;
          height: 100%;

          display: grid;
          place-items: center;
          ul {
            list-style: none;

            display: inline-flex;
            justify-content: space-evenly;
            align-items: center;

            font-size: 25px;
            color: $navfontclr;
            li {
              padding: 0 10px;
            }

            li:not(:last-child) {
              border-right: 1px solid rgb(91, 255, 91);
            }
          }
        }

        .triangle {
          background-image: linear-gradient(to right, #18a346 0%, #19c962 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 40%, 0 60%);
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: -1;
        }
      }

      .back {
        transform: rotateY(180deg);
        text-align: justify;

        p {
          font-size: 20px;
          padding: 1em;
        }

        a {
          text-decoration: none;
          color: white;
          padding: 10px 15px;
          border: 1px solid rgb(91, 255, 91);
        }

        a:hover {
          background-color: rgb(91, 255, 91);
          color: black;
        }
      }
    }
  }

  .card-container:hover .card {
    transform: rotateY(-180deg);
  }
}

// ******************** Responsive ********************

@media (max-width: 1048px) {
  .about-container {
    .about-text {
      width: 100%;
      h1 {
        font-size: 50px;

        span {
          font-size: 70px;
        }
      }
      p {
        font-size: 18px;

        span {
          font-size: 40px;
        }
      }
    }
    .about-img {
      display: none;
    }
  }

  .project-container {
    .card-container {
      width: 280px;
      height: 380px;

      .card {
        .front {
          .front-title {
            h1 {
              font-size: 35px;
            }
          }
          .lang-used {
            ul {
              font-size: 20px;
            }
          }
        }
        .back {
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  header {
    nav {
      flex-direction: column;
      align-items: flex-start;

      .logo {
        img {
          position: absolute;
          top: 0;
          height: 80px;
          width: 120px;
          // background: lightblue;
        }
      }

      .toggle-button {
        display: flex;
      }

      .nav-links {
        display: none;
        width: 100%;
      }

      .nav-list {
        width: 100%;
        flex-direction: column;

        li {
          text-align: center;
          padding: 0.5rem;
        }
      }
    }
  }
  .about-container {
    .about-text {
      width: 100%;
      h1 {
        font-size: 40px;

        span {
          font-size: 60px;
        }
      }
      p {
        font-size: 18px;

        span {
          font-size: 30px;
        }
      }
    }
  }

  .project-container {
    .card-container {
      width: 220px;
      height: 320px;

      .card {
        .front {
          .front-title {
            h1 {
              font-size: 25px;
            }
          }
          .lang-used {
            ul {
              font-size: 16px;
            }
          }
        }
        .back {
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 620px) {
  .home-container {
    .home-text {
      h1 {
        font-size: 40px;
      }

      h2 {
        font-size: 30px;
        .typing {
          font-size: 30px;
        }
      }
    }
  }
}

@media (max-width: 340px) {
  .home-container {
    .home-text {
      h1 {
        font-size: 30px;
      }
      h2 {
        font-size: 20px;

        .typing {
          font-size: 25px;
        }
      }
    }
  }

  .about-container {
    .about-text {
      h1 {
        font-size: 30px;
        span {
          font-size: 30px;
        }
      }
      p {
        font-size: 14px;
        span {
          font-size: 20px;
        }
      }
    }
  }

  .project-container {
    .card-container {
      width: 180px;
      height: 280px;
      .card {
        .front {
          .front-title {
            h1 {
              font-size: 20px;
            }
          }

          .lang-used {
            ul {
              font-size: 12px;
            }
          }
        }

        .back {
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}
