@font-face {
  font-family: PoppinsLight;
  src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: PoppinsRegular;
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: CedarvilleCursive;
  src: url("../fonts/CedarvilleCursive-Regular.ttf");
}

@font-face {
  font-family: Kalimata;
  src: url("../fonts/KallimataScript.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: PoppinsLight;
  background: #181818;
  color: white;
  width: 100%;
  height: 100%;
  margin: auto;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

header nav .logo {
  margin-left: 2em;
  font-family: Kalimata;
  font-size: 25px;
}

header nav .nav-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header nav .nav-list .nav-links {
  margin: 2em;
  text-decoration: none;
  color: gray;
}

header nav .nav-list .nav-links:hover {
  color: white;
}

header nav .toggle-button {
  position: absolute;
  top: 1.75em;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 20px;
}

header nav .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: gray;
  border-radius: 10px;
}

.home-container {
  display: -ms-grid;
  display: grid;
  width: 90%;
  min-height: 90vh;
  height: 90vh;
  margin: auto;
  place-items: center;
}

.home-container .home-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.home-container .home-text h1 {
  font-size: 60px;
}

.home-container .home-text h2 {
  font-size: 50px;
  color: gray;
}

.home-container .typing {
  position: relative;
  color: #009dff;
  font-family: CedarvilleCursive;
  font-size: 50px;
  font-style: italic;
}

.home-container .typing::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 60%;
  top: 20%;
  right: -8px;
  border-right: 2px solid white;
  -webkit-animation: blink 0.75s infinite ease;
          animation: blink 0.75s infinite ease;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about-container {
  width: 90%;
  min-height: 100vh;
  height: 100vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container .about-text {
  width: 50%;
  margin: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-container .about-text h1 {
  font-size: 50px;
}

.about-container .about-text h1 span {
  display: inline-block;
  color: #ff7b3e;
  font-family: CedarvilleCursive;
  margin: 0 20px 0 0;
  font-size: 80px;
  font-style: italic;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.about-container .about-text p {
  text-align: justify;
  font-size: 20px;
  color: #aaaaaa;
  line-height: 2em;
}

.about-container .about-text p span {
  color: lightgray;
  font-family: CedarvilleCursive;
  font-size: 40px;
  font-style: italic;
}

.about-container .about-img {
  width: 40%;
  height: 40%;
  margin: 2em;
}

.project-container {
  width: 90%;
  min-height: 100vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-container .card-container {
  width: 320px;
  height: 420px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  cursor: pointer;
  margin: 1em;
}

.project-container .card-container .card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.project-container .card-container .card .front,
.project-container .card-container .card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  background: #2b2b2b;
  z-index: 10;
}

.project-container .card-container .card .front .front-title {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.project-container .card-container .card .front .front-title h1 {
  font-size: 40px;
  color: #eeeeee;
}

.project-container .card-container .card .front .lang-used {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.project-container .card-container .card .front .lang-used ul {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  color: gray;
}

.project-container .card-container .card .front .lang-used ul li {
  padding: 0 10px;
}

.project-container .card-container .card .front .lang-used ul li:not(:last-child) {
  border-right: 1px solid #5bff5b;
}

.project-container .card-container .card .front .triangle {
  background-image: -webkit-gradient(linear, left top, right top, from(#18a346), to(#19c962));
  background-image: linear-gradient(to right, #18a346 0%, #19c962 100%);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 40%, 0 60%);
          clip-path: polygon(0 0, 100% 0%, 100% 40%, 0 60%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.project-container .card-container .card .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  text-align: justify;
}

.project-container .card-container .card .back p {
  font-size: 20px;
  padding: 1em;
}

.project-container .card-container .card .back a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border: 1px solid #5bff5b;
}

.project-container .card-container .card .back a:hover {
  background-color: #5bff5b;
  color: black;
}

.project-container .card-container:hover .card {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

@media (max-width: 1048px) {
  .about-container .about-text {
    width: 100%;
  }
  .about-container .about-text h1 {
    font-size: 50px;
  }
  .about-container .about-text h1 span {
    font-size: 70px;
  }
  .about-container .about-text p {
    font-size: 18px;
  }
  .about-container .about-text p span {
    font-size: 40px;
  }
  .about-container .about-img {
    display: none;
  }
  .project-container .card-container {
    width: 280px;
    height: 380px;
  }
  .project-container .card-container .card .front .front-title h1 {
    font-size: 35px;
  }
  .project-container .card-container .card .front .lang-used ul {
    font-size: 20px;
  }
  .project-container .card-container .card .back p {
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header nav .logo {
    margin: 0.5em 0 0 1em;
    font-size: 20px;
  }
  header nav .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav .nav-list {
    display: none;
    width: 100%;
  }
  header nav .nav-list ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav .nav-list ul li {
    margin: 0.6rem 0 0 10rem;
    text-align: right;
    padding: 0.4rem;
  }
  header nav .nav-list.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: menu 1s ease;
            animation: menu 1s ease;
  }
  @-webkit-keyframes menu {
    from {
      opacity: 0;
      -webkit-transform: translateY(-15%);
              transform: translateY(-15%);
    }
    to {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1;
    }
  }
  @keyframes menu {
    from {
      opacity: 0;
      -webkit-transform: translateY(-15%);
              transform: translateY(-15%);
    }
    to {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1;
    }
  }
  .about-container .about-text {
    width: 100%;
  }
  .about-container .about-text h1 {
    font-size: 40px;
  }
  .about-container .about-text h1 span {
    font-size: 60px;
  }
  .about-container .about-text p {
    font-size: 18px;
  }
  .about-container .about-text p span {
    font-size: 30px;
  }
  .project-container .card-container {
    width: 220px;
    height: 320px;
  }
  .project-container .card-container .card .front .front-title h1 {
    font-size: 25px;
  }
  .project-container .card-container .card .front .lang-used ul {
    font-size: 16px;
  }
  .project-container .card-container .card .back p {
    font-size: 14px;
  }
}

@media (max-width: 620px) {
  header nav .logo {
    font-size: 10px;
    margin: 2.5em 0 0 2em;
  }
  .home-container .home-text h1 {
    font-size: 40px;
  }
  .home-container .home-text h2 {
    font-size: 30px;
  }
  .home-container .home-text h2 .typing {
    font-size: 30px;
  }
}

@media (max-width: 340px) {
  header nav .logo {
    font-size: 10px;
    margin: 2.5em 0 0 2em;
  }
  .home-container .home-text h1 {
    font-size: 30px;
  }
  .home-container .home-text h2 {
    font-size: 20px;
  }
  .home-container .home-text h2 .typing {
    font-size: 25px;
  }
  .about-container .about-text h1 {
    font-size: 30px;
  }
  .about-container .about-text h1 span {
    font-size: 30px;
  }
  .about-container .about-text p {
    font-size: 14px;
  }
  .about-container .about-text p span {
    font-size: 20px;
  }
  .project-container .card-container {
    width: 180px;
    height: 280px;
  }
  .project-container .card-container .card .front .front-title h1 {
    font-size: 20px;
  }
  .project-container .card-container .card .front .lang-used ul {
    font-size: 12px;
  }
  .project-container .card-container .card .back p {
    font-size: 12px;
  }
}
/*# sourceMappingURL=styles.css.map */